<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find jetbot_description)/config/jetbot_control.yaml" command="load"/>

  <!-- load the controllers -->

  <node 
    pkg="controller_manager" 
    type="spawner" 
    name="controller_spawner" 
    respawn="false" 
    output="screen" 
    ns="rover_ns" 
    args="left_wheel_controller right_wheel_controller joint_state_controller"/>

  <!-- convert joint states to TF transforms for rviz, etc -->

  <node 
    pkg="robot_state_publisher" 
    type="robot_state_publisher" 
    name="robot_state_publisher" 
    respawn="false" 
    output="screen">
    <remap from="/joint_states" to="/rover_ns/joint_states"/>
  </node>

  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" /> -->
  <node pkg="jetbot_description" type="motion" name="motion" respawn="true" output="screen"/>
</launch>
